.DateMain{
   
    border : 1px solid white;
    border-radius: 12px;
    margin: 10px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    width: 100px;
    color: white;
}

.DateDay{
    font-size: xx-large;
    font-weight: bolder;
}

.DateMonth{
    font-size: small;
    font-weight: bolder;
}